<li><a href="/">Inici</a></li>
<li><a href="/page/sobre-mi/">Sobre mi</a></li>
<li><a href="/page/curriculum/">Currículum</a></li>
                    <li><a href="/page/sala-de-premsa">Sala de premsa</a></li>
                    <li><a href="/post">El blog</a></li>
                    <li><a href="https://butlleti.enricpineda.cat" target="_blank">La Bulteno</a></li>