/* Posem les fonts hiperllegibles*/

@font-face {
    font-family: 'Atkinson-regular';
    src: url(/fonts/Atkinson-Hyperlegible-Regular-102.ttf);
    src: url(/fonts/Atkinson-Hyperlegible-Regular-102.woff);
    src: url(/fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Atkinson-regular';
    src: url(/fonts/Atkinson-Hyperlegible-Bold-102.ttf);
    src: url(/fonts/Atkinson-Hyperlegible-Bold-102.woff);
    src: url(/fonts/Atkinson-Hyperlegible-Bold-102a.woff2);
    font-weight: bold;
    font-style: normal;
}


body {font-family: 'Atkinson-regular',Arial, Helvetica, sans-serif; font-size: 1.25em;;}
header {margin: 1em auto 0 auto; display: flex; flex-direction: row; }
h1,h2,h3,h4,h5,h6 {font-family: 'Atkinson-regular',Arial, Helvetica, sans-serif; font-weight: 900; }
.titol {font-size: 3em; margin: 0.3em 0; padding: 0; width: 100%; text-align: center;}
p {line-height: 1.5em;}
a {text-decoration: none; color: #bf00ff;}
a:hover {text-decoration: underline;}
footer {text-align: center; margin: 1em auto;}
footer p {font-size: 0.8em;}
footer hr {border-top: 1px solid #999;}
#content {font-size: 1.3rem;}
#content img {width: 100%; height: auto;}
.iconaSocial {margin-right: 1em;}
#menupral-portada {padding: 1em 3em 1em 0;}
#nom {font-family: 'Atkinson-regular',Arial, Helvetica, sans-serif; vertical-align: bottom; font-weight: bold;}
#descripcio {display: table-cell;vertical-align: bottom; }
.dataPub {padding: 0.5em; color:#666; background-color: #eee; font-family: 'Overpass', sans-serif;}
#content li {margin-bottom: 0.75em;}
#content li ul {margin: 0.75em 0;}
#infoAddicional {width: 100%; text-align: center; font-size: 1rem; margin: 2em 0;}

blockquote {background-color: #f0f0f0; padding: 0.5em; font-style: italic;}

/*Estils per a mòbils*/
@media only screen and (max-width: 600px){
header {width: 90%;}
#nom {font-size: 1.5em; margin: 0px auto;}
#embolcall {width: 90%; margin: 1em auto; display: flex; flex-direction: column;}
#menupral {margin: 1em 0;}
.menuprincipal {display: none;}
.menuprincipal.visible {display: block;}
.menumobil {width: 100%; display: block;}
nav ul {list-style-type: none; margin: 0; padding: 0;}
nav ul li {margin: 0 0 1em 0;}
#content {margin-top: 1em;}
footer {width: 90%;}
.burguer {width: 90%; margin: 0px auto; text-align: center;}
.burguer img {width: 32px; height: auto; margin: 0px auto;}
}

/*Estils per a pantalles grans*/
@media only screen and (min-width: 600px) {
header {width: 60%; margin-top: 3em;}
#nom {font-size: 2em; width: 100%; text-align: center;}
#embolcall {width: 60%; margin: 1em auto; display: block;}
#menupral {margin-right: 2em; width: 100%; display: block;}
#content {width: 100%; margin-top: 2em;}
nav {width: 100%; display: flex; flex-direction: row; align-items: center;}
nav ul {list-style-type: none; margin: 0px auto; padding: 0; display: flex; flex-direction: row; align-items: center; width: auto;}
nav ul li {margin: 1em; width: auto;}
#logo {width: 50%; margin: 0px auto; text-align: center;}
footer {width: 50%;}
.burguer {display: none;}
}