<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="embolcall">
            <div class="burguer"><a class="menumobil" href="#menupral"><img src="/menu.svg"></a></div>
           <div id="menupral" class="menuprincipal">
                <nav>
                    <ul>
                        {{- partial "opcions-menupral" . -}}
                    </ul>
                </nav>
            </div>
            <div id="content">
            {{- block "main" . }}
            {{- end }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
