{{ define "main" }}

<h1 class="titol">{{ .Title }}</h1>


<div id="infoAddicional">
    {{ with .Date }}
    <span>{{ .Format "2006-01-02" }} (CG)</span> | 
<span id="datahfk"></span><script>document.getElementById("datahfk").innerHTML = prenuHFK({{ .Format "2006-01-02" }});</script>
{{ end }}{{ printf " | Temps estimat de lectura: %d minuts" .ReadingTime }}
</div>




{{ .Content }}
{{ end }}