<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="embolcall">
            <div class="burguer"><a class="menumobil" href="#menupral"><img src="/menu.svg"></a></div>
           <div id="menupral" class="menuprincipal">
                <nav>
                    <ul>
                        {{- partial "opcions-menupral" . -}}
                    </ul>
                </nav>
            </div>
            <div id="content">
            <h1 class="titol">Benvinguda*</h1>
            <p><em>* Persona que arribes a la meva web.</em></p>
            <p>Aquest és el meu espai a la xarxa, on podràs conèixer una mica més el que faig, les meves aficions i interessos, i les feines que sóc capaç de fer.</p>
            <p>Espero que la teva estada sigui agradable, i si tens cap dubte, pots contactar-me a través de les xarxes socials o del correu <a href="mailto:hola@enricpineda.cat">hola@enricpineda.cat</a></p>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
